<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AdministracionBiosSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="ColaVisita" value="FormatName:DIRECT=OS:localhost\Private$\ColaVisita"/>
  </appSettings>

  <applicationSettings>
    <AdministracionBiosSearch.Properties.Settings>
      <setting name="AdministracionBiosSearch_ServicioWeb_ServicioObligatorio"
        serializeAs="String">
        <value>http://localhost/WSObligatorio/ServicioObligatorio.asmx</value>
      </setting>
      <setting name="AdministracionBiosSearch_ServicioObligatorio_ServicioObligatorio"
        serializeAs="String">
        <value>http://localhost/WSObligatorio/ServicioObligatorio.asmx</value>
      </setting>
    </AdministracionBiosSearch.Properties.Settings>

  </applicationSettings>
</configuration>